rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function reqUserMatchesResUser() {
      return request.auth.uid == resource.data.uid;
    }

    function reqUserMatchesWriteUser() {
      return request.resource.data.uid == request.auth.uid;
    }

    function isAdmin() {
      return request.auth.token.isAdmin == true;
    }

    match /addresses/{address} {
      allow read: if reqUserMatchesResUser();
      allow create: if reqUserMatchesWriteUser();
      allow update: if reqUserMatchesResUser();
    }
    match /coupons/{coupon} {
      allow read;
      allow write: if false;
    }
    match /iconMenu/{icon} {
      allow read;
      allow write: if false;
    }
    match /images/{image} {
      allow read;
      allow write: if false;
    }
    match /logos/{logo} {
      allow read;
      allow write: if false;
    }
    match /mainMenu/{menuItem} {
      allow read;
      allow write: if false;
    }
    match /orders/{order} {
      allow read, write: if isAdmin();
      allow read: if reqUserMatchesResUser();
      allow create: if reqUserMatchesWriteUser();
      allow update: if reqUserMatchesResUser();
    }
    match /pageRenders/{pageRender} {
      allow read;
      allow write: if false;
    }
    match /products/{product} {
      allow read;
      allow write: if false;
    }
    match /shippingOptions/{shippingOption} {
      allow read;
      allow write: if false;
    }
    match /strains/{strain} {
      allow read;
      allow write: if false;
    }
    match /submenu/{submenItem} {
      allow read;
      allow write: if false;
    }
    match /subscribers/{subscriber} {
      allow read, write: if false;
    }
    match /testResults/{testResult} {
      allow read;
      allow write: if false;
    }
    match /userExtras/{uid} {
      allow read;
      allow create: if reqUserMatchesWriteUser();
      allow update: if reqUserMatchesResUser();
    }
    match /wholesaleCatalog/{catalog} {
      allow read;
      allow write: if false;
    }
  }
}
