.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/sitemap.xml
public/robots.txt
public/192x192.png
public/512x512.png
public/og-image.jpg
public/publisher-logo.png
public/favicon.ico
public/manifest.json
public/404.gif
